
<div style="margin-top:10%"><div style="background-color: seagreen;"><div style="text-align:center;"><h1>Adicionar produto:</h1>
<form method="POST" action="/criar">
    <input type="text" placeholder="produto" name="produto">
    Quantidade:<input type="number" name="quant">
    <button type="submit">Adicionar</button>
</form></div></div></div>